<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SoneT</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @RenderSection("Styles", required: false)
</head>
<body class="body-color">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container color">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SoneT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand sonet-style" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    @Html.Action("_UserLayout", "UserProfile")
                </ul>
            </div>
        </div>
    </div>

    
        @RenderBody()
    <div class="container">
        <hr />
        <footer>
            <p>&copy; 2016 - SoneT</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    @RenderSection("Scripts", required: false)
</body>
</html>